<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Download Jobs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

    	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    	<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
<script src="{% static 'js/jquery-1.7.2.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>

<script>
  $(document).ready(function(){
    $("#jobForm").validate();
  });
  </script>
</head>
<body>
<div class="span3 offset9">
<div class="well">
	<label>Administrator: Eric Pike</label>
	<label>Contact: </label>
</div></div>

{% block content %} {% endblock %}

<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>

