{% extends "base.html" %}

{% block content %}
<div class="span4 offset4">
<div class="well">
	<form action="/" id="jobForm" method="get">
		<label><b>Please enter your job information:</b></label>

		<input id="numberField" name="number" type="text" placeholder="Job Number" class="required" autocomplete="off">
		<input id="refField" name="ref" type="text" placeholder="Reference Number" class="required" autocomplete="off">

		<select name="type">
			<option value="LC">Lettercomm Services</option>
			<option value="HS">Harris Services</option>		</select>
		<div>
		{% if error %}
		<div class="alert alert-error">
		    File not found.
		</div>
		{% endif %}
        	<input type="submit" value="Search" class="btn btn-primary"> </div>
	</form>
</div></div>

{% endblock %}

{% block instructions %}
<label class="alert alert-info">Instructions</label>
<label>To download your job file or zip, <br /> enter in the job number, reference number, <br />
    and type of your job.</label>
<br />
{% endblock %}
